.btn-dark-six{
    background-color: black;
    color: white;
    margin-top: 2%;
    margin-bottom: 0%;
}

.background-colori{
    background-color:#EE4934;
}

.titrecompte{
    text-align: center;
    margin-bottom: -3%;
}